# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environment
venv/

# Jupyter
.ipynb_checkpoints/

# Model checkpoints and outputs
runs/
models/*.pt
models/*.onnx
models/*.tflite
models/converted/

# Dataset temp files
*.zip
*.tar.gz

# VSCode settings
.vscode/
